<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ========================= -->
  <!-- Box Link Macro -->
  <!-- ========================= -->

  <xacro:macro
    name="box_link"
    params="name size_x size_y size_z origin_xyz color mass">

    <link name="${name}">

      <!-- Visual -->
      <visual>

        <origin
          xyz="${origin_xyz}"
          rpy="0 0 0"
        />

        <geometry>
          <box size="${size_x} ${size_y} ${size_z}"/>
        </geometry>

        <material name="${name}_material">
          <color rgba="${color}"/>
        </material>

      </visual>


      <!-- Collision -->
      <collision>

        <origin
          xyz="${origin_xyz}"
          rpy="0 0 0"
        />

        <geometry>
          <box size="${size_x} ${size_y} ${size_z}"/>
        </geometry>

      </collision>
<inertial>

  <!-- 质心和几何中心保持一致 -->
  <origin
    xyz="${origin_xyz}"
    rpy="0 0 0"
  />

  <!-- 质量 -->
  <mass value="${mass}"/>

  <!-- 长方体惯性矩阵 -->
  <inertia
    ixx="${mass / 12.0 * (size_y * size_y + size_z * size_z)}"
    ixy="0.0"
    ixz="0.0"
    iyy="${mass / 12.0 * (size_x * size_x + size_z * size_z)}"
    iyz="0.0"
    izz="${mass / 12.0 * (size_x * size_x + size_y * size_y)}"
  />

</inertial>
    </link>


  </xacro:macro>

  <!-- ========================= -->
  <!-- Revolute Joint Macro -->
  <!-- ========================= -->

  <xacro:macro
    name="revolute_joint"
    params="name parent child origin_xyz axis_xyz lower upper">

    <joint name="${name}" type="revolute">

      <parent link="${parent}"/>
      <child link="${child}"/>

      <origin
        xyz="${origin_xyz}"
        rpy="0 0 0"
      />

      <axis xyz="${axis_xyz}"/>

      <limit
        lower="${lower}"
        upper="${upper}"
        effort="10.0"
        velocity="1.0"
      />

    </joint>

  </xacro:macro>

</robot>