<?xml version="1.0"?>

<robot name="simple_arm">

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0.05" rpy="0 0 0"/>

      <geometry>
        <box size="0.4 0.4 0.1"/>
      </geometry>

      <material name="gray">
        <color rgba="0.6 0.6 0.6 1.0"/>
      </material>
    </visual>
  </link>


  <link name="link1">
    <visual>
      <origin xyz="0 0 0.25" rpy="0 0 0"/>

      <geometry>
        <box size="0.1 0.1 0.5"/>
      </geometry>

      <material name="blue">
        <color rgba="0.2 0.4 0.8 1.0"/>
      </material>
    </visual>
  </link>

<joint name="joint1" type="revolute">

  <parent link="base_link"/>
  <child link="link1"/>

  <origin xyz="0 0 0.1" rpy="0 0 0"/>

  <axis xyz="0 1 0"/>

  <limit
    lower="-1.57"
    upper="1.57"
    effort="10.0"
    velocity="1.0"
  />

</joint>
  <!-- 第二段机械臂 -->
  <link name="link2">
    <visual>
      <!-- link2 从自己的原点沿 +X 方向延伸 0.4m -->
      <origin xyz="0.2 0 0" rpy="0 0 0"/>

      <geometry>
        <box size="0.4 0.08 0.08"/>
      </geometry>

      <material name="orange">
        <color rgba="1.0 0.5 0.1 1.0"/>
      </material>
    </visual>
  </link>


  <!-- 第二个旋转关节 -->
  <joint name="joint2" type="revolute">

    <parent link="link1"/>
    <child link="link2"/>

    <!-- joint2 放在 link1 顶端 -->
    <origin xyz="0 0 0.5" rpy="0 0 0"/>

    <!-- 绕 Y 轴旋转 -->
    <axis xyz="0 1 0"/>

    <limit
      lower="-1.57"
      upper="1.57"
      effort="10.0"
      velocity="1.0"
    />

  </joint>
    <!-- 这里开始加 tool_link -->
  <link name="tool_link"/>

  <joint name="tool_joint" type="fixed">
    <parent link="link2"/>
    <child link="tool_link"/>

    <origin xyz="0.4 0 0" rpy="0 0 0"/>
  </joint>

</robot>