<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="simple_6dof_arm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import simple_6dof_arm urdf file -->
    <xacro:include filename="$(find simple_6dof_description)/urdf/simple_6dof_arm.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="simple_6dof_arm.ros2_control.xacro" />


    <xacro:simple_6dof_arm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
